.App {
  text-align: center;
}
.App {
  background: url("./assets/background.jpg");
  background-size: cover;
  min-height: 100vh;
}
nav {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 2rem;
}
.links {
  display: flex;
  /* flex-direction: column-reverse; */
  width: 100%;
  justify-content: space-around;
}
h1 {
  width: 100%;

  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
  color: #fa5858;
  margin-bottom: 15%;
}
.back {
  display: flex;
  background-color: #31343a;
  height: 50px;
  margin-bottom: 125px;
}
link {
  font-size: 1.5rem;
}
.forms {
  font-size: 1.5rem;
  margin-bottom: 1%;
  margin-top: 10%;
  justify-content: center;

  text-align: center;
}
.navLinks {
  font-size: 2rem;
  color: #fa5858;
  text-decoration: none;
}
.navLinks:hover {
  text-decoration: none;
  color: #60e96e;
}
.background {
  background-color: #31343a;
  width: 35%;
  margin: 0 auto;
  border-radius: 25px;
}
