.App {
  text-align: center;
}
.App {
  background: url('./assets/background.jpg');
  background-size: cover;
  min-height: 100vh;
}
nav {
  margin-bottom: 125px;
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 2rem;
}
.links {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
  color: white;
}
.back {
  display: flex;
}
link {
  font-size: 1.5rem;
}
.forms {
  font-size: 2rem;
}
.navLinks {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.navLinks:hover {
  text-decoration: none;
  color: red;
}
.studentList {
  background-color: aliceblue;
  width: 80%;
}
.studentCard {
  background-color: rgb(174, 248, 242);
}
